/.vs/Server/v16/*.suo
/.vs/Server/v16/*.db
/.vs/Server/v16/*.db-shm
/.vs/Server/v16/*.db-wal
/.vs/Server/v16/*.opendb
/.vs/Server/v16/ipch/AutoPCH/2e608607b3d1f16e/*.ipch
/.vs/Server/v16/ipch/AutoPCH/6849fc2915a22566/*.ipch
/.vs/Server/v16/ipch/AutoPCH/91fe9a59fd1fdb05/*.ipch
/Client/*.vcxproj
/Client/*.filters
/Client/*.user
/Client/Debug/*.log
/Client/Debug/InitWinSock.tlog/*.tlog
/Client/Debug/InitWinSock.tlog/*.lastbuildstate
/Client/Debug/*.obj
/Client/Debug/*.idb
/Client/Debug/*.pdb
/Debug/*.exe
/Debug/*.ilk
/Debug/*.pdb
/*.sln
/Server/Debug/*.log
/Server/Debug/*.obj
/Server/Debug/Server.tlog/*.tlog
/Server/Debug/Server.tlog/*.lastbuildstate
/Server/Debug/*.idb
/Server/Debug/*.pdb
/Server/*.vcxproj
/Server/*.filters
/Server/*.user
